<a href="https://colab.research.google.com/github/bhagyashree-jadhao/data_stuctures_program/blob/main/data_stucture_assignments2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1)  Write ' code to reverse ' string

In [1]:
string=input("enter the any string: ")
print(f"reerse of {string} is {string[::-1]}") # use a slicing concept

enter the any string: welcome
reerse of welcome is emoclew

In [3]:
def reverse_string(string):
  rev_string='' # emplty string we will stored the reverse string
  for char in string: # iterate the string
    rev_string=char+rev_string # first add the char then reverser string

  return f"reverse of {string} is {rev_string}"

reverse_string(string)

'reverse of welcome is emoclew'

# 2) Write ' code to count the number of vowels in ' string.

In [4]:
def count_vowels(string):
  vowels='aeiou' # vowels is string variable it containg the vowels char
  count=0
  for char in string.lower(): # convert string into lower and iterate one by one char in string
    if char in vowels:
      count+=1
  return f"total vowels count in {string}  is | {count}"
count_vowels(string)

'total vowels count in welcome  is | 3'

# 3). Write ' code to check if ' given string is' palindrome or not.

In [5]:
def string_palindrom(s="aabbaa"):
  # empty string rev_string
  rev_string=''
  for char in s: # iterate the string char
      rev_string=char+rev_string # first add the char then reverser string
  if rev_string==s: # check the string and reverse string are same or not
    return f" string: {s} | reverse string {rev_string} are palindrom "
  else:
        return f" string: {s} | reverse string {rev_string} are not palindrom "


s=input("enter the string: ")
string_palindrom(s)

enter the string: madam

' string: madam | reverse string madam are palindrom '

In [6]:
s=input("enter the string: ")
string_palindrom(s)

enter the string: welcome

' string: welcome | reverse string emoclew are not palindrom '

# 4). Write ' code to check if two given strings are anagram for eachh others.

In [7]:
c='eat'
d='ate'
def anagram(first_string,sec_string):
  list1=[char for char in first_string] # used list comprehension to convert string to list
  list2=[char for char in sec_string]
  list1.sort() # sort the list element in asceding order
  list2.sort()

  if list1==list2: # check a  list1 and list2 are same then

    return f"{first_string} and {sec_string} are anagram "
  else:
        return f"{first_string} and {sec_string} are not  anagram "

In [9]:
s=input("enter the first string: ")
s1=input("enter the second string: ")
anagram(s,s1)

enter the first string: lock
enter the second string: clock

'lock  and clock are not  anagram '

In [10]:
s=input("enter the first string: ")
s1=input("enter the second string: ")
anagram(s,s1)

enter the first string: listen
enter the second string: silent

'listen and silent are anagram '

# 5) Write code to find all occurrences of  given substring within another string

In [11]:
def find_occurences(substring,string):
    for i in range(len(string)-len(substring)+1): # iterate a sting from satring index to total lenth of string subtract a len of substring . calculates the number of positions in the main string where the substring can start and still fit within the main string.

        if string[i:i+len(substring)]==substring: #this slice operation extracts a part of the main string starting at index i and extending for the length of the substring. if part of string are and substring are same use '==' camapre operator then return a occurence of from main string
            return f"{substring} is present"
        else:
            continue
    else:
        return f"{substring} is not present"


find_occurences('ab','adab')

'ab is present'

In [13]:
# here used a regex
import re
def find_occurences_re (s,s1):
    if re.findall(s,s1): # findall() method take 2 arguments a and s1  s is subpart and s1 is main string
        return f"{s} is present"
    else:
        return f"{s} is not present"
find_occurences_re('ac','aaaab')

'ac is not present'

In [14]:
find_occurences_re('ab','aaaab')

'ab is present'

# 6). Write code to performing string comparission the count of repeated charecter.

In [ ]:
def count_char(string):
    d={}
    count=1
    string_count=''
    for i in string:
        if i in d:
            d[i]+=1
        else:
            d[i]=1
    for key,value in d.items():
        string_count+=key+str(value)
    #print(d)
    return string_count



count_char('abacb')

'a2b2c1'

'a1b12c1'

# 7) Write ' code to determine if ' string has all unique character.

In [ ]:
def check_unique_char(string):
    s=''
    for char in string:
        if char not in s:
            s+=char
        else:
            continue
    if s==string:
        return f"{string} has all unique all character"
    else:
        return  f"{string} has not unique  character"
check_unique_char("python")

'python has all unique all character'

In [ ]:
check_unique_char("welcome")

'welcome has not unique  character'

# 8) write ' code to convert ' given string to uppercase or lowercase

In [ ]:
def convert_upper_lower(string):
    upper_string=string.upper()
    lower_string=string.lower()
    return f" lower strig of {string}: {lower_string} \n upper string {upper_string}"
convert_upper_lower('welcome to python')

' lower strig of welcome to python: welcome to python \n upper string WELCOME TO PYTHON'

# 9).Write a code to count the number of words in a strings

In [ ]:
def count_word(sentence):
    list=sentence.split()
    counts=0
    for word in list:
        counts+=1
    return f'total word in :- {sentence} : {counts}'

In [ ]:
count_word("welcome to python and easy to learn")

'total word in :- welcome to python and easy to learn : 7'

In [ ]:
def word_count(sentence):
    s=''
    cnt=1
    for word in sentence:
        if word ==' ':
            cnt+=1
    return f" {cnt} word are present"
#word_count("welcome to python and easy to learn")

' 7 word are present'

In [ ]:
word_count("welcome to python and easy to learn")

' 7 word are present'

# 10) Write ' code to concatenate two strings without using the + operator

In [ ]:
def string_concat(first_string,second_string):
    concat_strings=''.join([first_string,second_string])
    return concat_strings

In [ ]:
string_concat('welcome','python')

'welcomepython'

# 11).  Write ' code to remove all occurrences of ' specific element from a lists.

In [ ]:


def remove_all_occurence(list1,occurence):
# createing new list that is remove_occurence_list its  contain element from list1 and remove the occurence
    # in case your list contain string as well int then check this and convert it into int
    if occurence.isdigit():
        num=int(occurence)
        remove_occurence_list=[ele for ele in list1 if ele!=num]
    else:
        remove_occurence_list=[ele for ele in list1 if ele!=occurence]
    return remove_occurence_list

In [ ]:
student_list=[1,2,3,4,4,5,5,6,"hello",'hi',"hi",3]
occurence=input("Enter the occurence you want to remove:" )
remove_all_occurence(student_list,occurence)

Enter the occurence you want to remove: hi

[1, 2, 3, 4, 4, 5, 5, 6, 'hello', 3]

In [ ]:
student_list=[1,2,3,4,4,5,5,6,"hello",'hi',"hi",3]
occurence=input("Enter the occurence you want to remove:" )
remove_all_occurence(student_list,occurence)

Enter the occurence you want to remove: 5

[1, 2, 3, 4, 4, 6, 'hello', 'hi', 'hi', 3]

In [ ]:
 remove_all_occurence(list1,5)

['welcom', 'python', 'pandas', 'numpy', 45]

# 12). Implement a code to find the second largest number in a given list of integers.

In [ ]:
l=[20,30,10,200,100,40,50,70]

for i in range(len(l)):
    for j in range(i,len(l)):
        if l[i]>l[j]:
            temp=l[i]
            l[i]=l[j]
            l[j]=temp

print(l)
print(f"second lagest number is | {l[-2]}")

[10, 20, 30, 40, 50, 70, 100, 200]
second lagest number is | 100

# 13) Create code to count the occurrences of each element in ' list and return ' dictionary with elements key and their counts as values

In [ ]:
list1=[1,2,3,4,5,6,5,4,3,33,3,3,2,3,4,8,1,4,5,6,7,6,8]
dict1={i:list1.count(i)   for i in list1} # used the dict comprehension and count() method to
dict2={}
for i in list1:
    if i in dict2:
        dict2[i]+=1
    else:
        dict2[i]=1

In [ ]:
dict2

{1: 2, 2: 2, 3: 5, 4: 4, 5: 3, 6: 3, 33: 1, 8: 2, 7: 1}

# 14) "Write a code to reverse list in-place without uing 'n built-in reverse fun%tion


In [ ]:
list1=[100,200,'Python',400,200,300,'Welcome']
list2=[]
# used the range() and -ve indexing
for i in range(len(list1)-1,-1,-1):
    list2.append(list1[i])
# by using list comprehension
reverse_list=[list1[i] for i in range(len(list1)-1,-1,-1)]

In [ ]:
reverse_list

['Welcome', 300, 200, 400, 'Python', 200, 100]

# 15)  Implement code to find and remove duplicated from list while preserving the original order of elements

In [ ]:
def remove_duplicate(list1):
    list2=[]
    for i in list1:
        if i not in list2:
            list2.append(i)
        else:
            continue
    return list2
list1=[1,2,3,4,5,6,5,4,3,33,3,3,2,3,4,8,1,4,5,6,7,6,8]

In [ ]:
remove_duplicate(list1)

[1, 2, 3, 4, 5, 6, 33, 8, 7]

# 16) Create code to check if a given list is sorted either in ascending or descending order or not.

In [ ]:
def check_sorted_list(list1):
    if list1==sorted(list1):
        return f"{list1} is sorted by ascending order"
    elif list1==sorted(list1,reverse=True):
        return f"{list1} is sorted by descending order"
    else:
        return f"{list1} is not sorted by ascending or descending order"

In [ ]:
list1=[111,13,11]
check_sorted_list(list1)

'[111, 13, 11] is sorted by descending order'

# 17). Write code to merge two sorted lists into single sorted list.

In [ ]:
def merge_two_list(list1,list2):
    merge_list=[]
    for i in sorted(list1):
        merge_list.append(i)
    for j in sorted(list2):
        merge_list.append(j)
    return sorted(merge_list)

In [ ]:
l1=[111, 13, 11]
l2=[20, 30, 100]
merge_two_list(l1,l2)

[11, 13, 20, 30, 100, 111]

# 18).  Implement code to find the intersection of two given lists.

In [ ]:
l1=[111, 13,20,300,50,60,800,500,600,11]
l2=[20, 30, 100,40,500,11,200,300,13,77,88,99,90,65,50]
def intersection_ele(l1,l2):
    # initialize a empty list
    intersection_list=[]
    # iterate the first list
    for ele in l2:
        # iterate the first list
        for item in l1:
            #check conditon if element in first list and element in second list are same then add to intersection_list
            if ele==item:
                intersection_list.append(ele)
    return intersection_list

In [ ]:
l1=[111, 13,20,300,50,60,800,500,600,11]
l2=[20, 30, 100,40,500,11,200,300,13,77,88,99,90,65,50]
intersection_ele(l1,l2)

[20, 500, 11, 300, 13, 50]

# 19). Create code to find the union of two lists without duplicates.

In [ ]:
def union_lists(l1,l2):
    # initialize a empty list
    union_list=[]
    # add the element of first list to the union _list
    for i in l1:
        list1.append(i)
     # add the element of second list to the union _list
    for j in l2:
        # check condition if element is present in union _list then skip this elements
        if j not in list1:
            list1.append(j)
        else:
            continue

    return list1

In [ ]:
l1=[111, 40,20,300,50,60]
l2=[20, 30, 100,40,500,11]
print(union_list(l1,l2))

[111, 40, 20, 300, 50, 60, 30, 100, 500, 11]

# 20). Write code to shuffle  given list randommly without using  built-in shuffle function


In [ ]:
import random
def suffle_list(list1):
    list2=[]
    index=random.randint(0,len(list1))
    for ele in list1:
        list2.insert(index,ele)
    return list2

In [ ]:
list1=["welcom",'python',"pandas","numpy",45]
suffle_list(list1)

['welcom', 'python', 45, 'numpy', 'pandas']

# 21). Write ' %ode that take two tuples as input and returns a new tuple containing elements that are common to both input tuple.

In [ ]:
def comman_ele_tuple():
    # first list  create list take element by user becoz we caant add eleement in tupple one by one tuple is immutable so created list
    l1=[int(i) for i in input("Enter the element to first tuple by comma:").split(',')]
    #  create second list take element by user
    l2=[int(i) for i in input("Enter the elementto second tuple by comma:").split(',')]
    # convert list to tuple
    tuple1=tuple(l1)
    tuple2=tuple(l2)
    comman_list=[]
    print(f"first tuple {tuple1}")
    print(f"Tuple second {tuple2}")
    # iterate the first tuple
    for i in tuple1:
        # check element in firste tuple are present in second tuple
        if i in tuple2:
            # add element to the comman_list
            comman_list.append(i)
    print("Comman element to bboth tuple are :")
    return tuple(comman_list)

In [ ]:
comman_ele_tuple()

Enter the element to first tuple by comma: 5,7,8,9
Enter the elementto second tuple by comma: 6,7,4,3

first tuple (5, 7, 8, 9)
Tuple second (6, 7, 4, 3)
Comman element to bboth tuple are :

(7,)

# 22). Create code that propmt the user to enter two sets of integers separated by commas The  print the intsrcection of tsee t


In [ ]:
def intersec_set():
    first_sets={int(i) for i in input("Enter the element to first set by comma:").split(',')}
    second_set={int(i) for i in input("Enter the elementto second set by comma:").split(',')}
    return first_sets.intersection(second_set)

In [ ]:
intersec_set()

Enter the element to first set by comma: 5,6,7,8,9,0
Enter the elementto second set by comma: 7,8,9,5,4,3

{5, 7, 8, 9}

{5, 6, 7, 8}

# 23)Write ' code to concatenate two tuple. The function should take two tuple as input and return a new ttupl ea%onta'ining elem
ten
 foro
 both input tupl
.

In [ ]:
def concat_tuple(first_tup,second_tup):
    concat_list=[]
    # iterate the first tuple
    for ele in first_tup:
        #add ele in concat_list
        concat_list.append(ele)
    ## iterate the second tuple
    for ele in second_tup:
        #add ele in concat_list
        concat_list.append(ele)
        # return the concat tuple
    return tuple(concat_list)

first_tup=[int(i) for i in input("enter the element to the first tuple").split(',')]
second_tup=[int(i) for i in input("enter the element to the second  tuple").split(',')]
concat_tuple(first_tup,second_tup)

enter the element to the first tuple 5,6,7,8
enter the element to the second  tuple 6,7,8,9,70

(5, 6, 7, 8, 6, 7, 8, 9, 70)

In [ ]:
concat_tuple(first_tup,second_tup)

(5, 6, 7, 7, 8, 990, 40)

# 24). Develop  code that prompts the user to input two sets of strings. Then print the elements that are present in the first set but not in the second set

In [ ]:
def set_differnce():
    # take a input from user using list comprehension
    first_sets={i for i in input("Enter the element to first set by comma:").split(',')}
    second_set={i for i in input("Enter the elementto second set by comma:").split(',')}
    # by using difference()
    return first_sets.difference(second_set)

In [ ]:
set_differnce()

Enter the element to first set by comma: 1,2,3,4,66,5,6,77,88,99,100
Enter the elementto second set by comma: 100,99,20,30,55,77,99

{'1', '2', '3', '4', '5', '6', '66', '88'}

# 25). writ a code that takes a tuple and two integers as input. The function should return anew tuple containing elements from the original tuple within the specified range of indices

In [ ]:
#tuple1=('Apple','Mango','Banana','Grapes','Lemonsweets')
#sub_part('Mango','Banana','Grapes')

def sub_tuples():
    # use list comprehesion for user input
    list1=[i for i in input("enter the element to tuple:") .split()]
    # user input for taking value of x from user
    x=int(input("Enter the starting index :"))
    # user input for taking value of y from user
    y=int(input("Enter the ending index : "))
    # convert the list into tuple
    tuple1=tuple(list1)
    # return sub part of tuple means pass in index then get the new tuple sub part of
    #tuple containing elements from the original tuple within the specified range of indices
    return tuple1[x:y]

In [ ]:
sub_tuples()

enter the element to tuple: Apple Mango Banana Grapes Lemonsweets
Enter the starting index : 2
Enter the ending index :  4

('Banana', 'Grapes')

# 26). Write  code that prompts the user to input two sets of characters. Then print the union of this two sets.'

In [ ]:
def set_union():
    # take a input from user using list comprehension
    first_sets={i for i in input("Enter the char element to first set by comma:").split(',')}
    second_set={i for i in input("Enter the char  element to second set by comma:").split(',')}
    # by using difference()
    return first_sets.union(second_set)

In [ ]:
set_union()

Enter the char element to first set by comma: neha,amar,ram,puja,uday,chhaya,anjali
Enter the char  element to second set by comma: amar,neha,gita,gayu,pihu,abhi,ram

{'abhi',
 'amar',
 'anjali',
 'chhaya',
 'gayu',
 'gita',
 'neha',
 'pihu',
 'puja',
 'ram',
 'uday'}

#  27). Develop a code that takes a tuple of integers as input.# The function should return the maximum and minimum value from the tuple using  tuple  unpacking

In [ ]:
def min_max_value(tuple1):
    # createa max_value and min_value variable to stored first element to both variable
    max_value=tuple1[0]
    min_value=tuple1[0]
    # iterate the tuple1
    for i in tuple1:
        #check the t tuple element is i is greater than max_value
        if i> max_value:
            # assign the i element to the max_value
            max_value=i
         #  i element is less than max_value then condition is false go to else part
        else:
            # assign the i elementto the min_value
            min_value=i


    return f" maximum value : {max_value} minumum value : {min_value}"

#  create first tuple take element by user use comprehension
tuple1=(int(i) for i in input("Enter the element to tuple by comma:").split(','))
list1=list(tuple1)
min_max_value(list1)

Enter the element to tuple by comma: 50,60,40,20

' maximum value : 60 minumum value : 20'

' maximum value : 8 minumum value : 5'

# 28)   Create  code that defines two sets of integers. Then print the union intersection and difference of theset two sets

In [ ]:
def set_opration():
    # define a two sets which is take a integer elements use set comprehension
    first_set={int(i) for i in input("Enter the numbers to the the first sets seprated by  space:").split()}
    second_set={int(i) for i in input("Enter the numbers to the the second set separated by space:").split()}
    #return first_set, second_set
    while True:
        choice=input("Do you want to continue Y/N")
        if choice.upper() !=('Y'):
            break
        else:
            print('*'*50,'Menu','*'*50)
            print(" 1. Union \n 2. Intersection \n 3. Difference  ")
            print('*'*50,'End','*'*50)
            ch=int(input(" Enter your choice from above Menu:  "))
            if ch==1:
                print(f"  first set: {first_set}\n second set :  {second_set}")
                print(f"Union of two sets are{first_set.union(second_set)}")
            elif ch==2:
                print(f"  first set: {first_set}\n second set :  {second_set}")
                print(f" Intersection  of two sets are{first_set.intersection(second_set)}")
            elif ch==3:
                print(f"  first set: {first_set}\n second set :  {second_set}")
                print(f" Differnce is the element present in first set not in second set:  {first_set.difference(second_set)}")
                print(f" Differnce is the element present in second set not in first set:  {second_set.difference(first_set)}")

            else:
                print("Enter the Valid Option from Menu")

In [ ]:
set_opration()

Enter the numbers to the the first sets seprated by  space: 5 6 7 8 9 2 1
Enter the numbers to the the second set separated by space: 4 5 6 7 9 89 33
Do you want to continue Y/N y

************************************************** Menu **************************************************
 1. Union
 2. Intersection
 3. Difference
************************************************** End **************************************************

 Enter your choice from above Menu:   3

  first set: {1, 2, 5, 6, 7, 8, 9}
 second set :  {33, 4, 5, 6, 7, 9, 89}
 Differnce is the element present in first set not in second set:  {8, 1, 2}
 Differnce is the element present in second set not in first set:  {89, 33, 4}

Do you want to continue Y/N y

************************************************** Menu **************************************************
 1. Union
 2. Intersection
 3. Difference
************************************************** End **************************************************

 Enter your choice from above Menu:   1

  first set: {1, 2, 5, 6, 7, 8, 9}
 second set :  {33, 4, 5, 6, 7, 9, 89}
Union of two sets are{1, 2, 33, 4, 5, 6, 7, 8, 9, 89}

Do you want to continue Y/N y

************************************************** Menu **************************************************
 1. Union
 2. Intersection
 3. Difference
************************************************** End **************************************************

 Enter your choice from above Menu:   2

  first set: {1, 2, 5, 6, 7, 8, 9}
 second set :  {33, 4, 5, 6, 7, 9, 89}
 Intersection  of two sets are{9, 5, 6, 7}

Do you want to continue Y/N v

# 29). Write code that takes  tuple and  input and elment as input. The function should return the count of occurrences of the given element in the tuple.

In [ ]:
def count_occurence_of_tuple():
    tuple1=(i for i in input("Enter the elements to the tuple:").split() )
    item=input("Enter the element to count the occurence in tuple")
    d={}
    for ele in tuple1:
        if item == ele:
            if item in d:
                d[item]+=1
            else:
                 d[item]=1
    return f"{item} is present:  {d[item]}"

In [ ]:

count_occurence_of_tuple()

Enter the elements to the tuple: tea coffee milk suger tea rice dettol oil tea peanuts rice coconutoil oreo rice oil
Enter the element to count the occurence in tuple tea

[]

'tea is present:  3'

# 30) Develop  code that prompts the user to input two sets of strings.Then print the symmetric difference of these two sets.

In [ ]:
def symmetric_difference_of_set():
    # define a two sets which is take a integer elements use set comprehension
    first_set={int(i) for i in input("Enter the numbers to the the first sets seprated by  space:").split()}
    second_set={int(i) for i in input("Enter the numbers to the the second set separated by space:").split()}
    return f"symmetric difference of these two sets : {first_set} and {second_set} is: {first_set.symmetric_difference(second_set)}"

In [ ]:
symmetric_difference_of_set()

Enter the numbers to the the first sets seprated by  space: 3 4 5 6 7 8 2 1
Enter the numbers to the the second set separated by space: 6 7 8 9 3 5 9 10

'symmetric difference of these two sets : {1, 2, 3, 4, 5, 6, 7, 8} and {3, 5, 6, 7, 8, 9, 10} is: {1, 2, 4, 9, 10}'

# 31) & Write  code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the friq uencies of those words in the input list.

In [ ]:
def word_frequency():
    # take a element to  grocery_list
    grocery_list=[item for item in input("Enter the item to the list seperated by space: ").split()]
    # create one dict to store frequency of world
    print(grocery_list)
    grocery_dict={}
    # iterate the grocery_list
    for ele in  grocery_list:
        # in case the item is already present in dict the the value of that item is increament by 1
        if ele in  grocery_dict:
             grocery_dict[ele]+=1
        else:
            # item is not present in grocery_dict then add the item as key and value first time is 1
             grocery_dict[ele]=1
    return  grocery_dict

In [ ]:
word_frequency()

Enter the item to the list seperated by space:      tea coffee milk suger tea rice dettol oil tea peanuts rice coconutoil oreo rice oil

['tea', 'coffee', 'milk', 'suger', 'tea', 'rice', 'dettol', 'oil', 'tea', 'peanuts', 'rice', 'coconutoil', 'oreo', 'rice', 'oil']

{'tea': 3,
 'coffee': 1,
 'milk': 1,
 'suger': 1,
 'rice': 3,
 'dettol': 1,
 'oil': 2,
 'peanuts': 1,
 'coconutoil': 1,
 'oreo': 1}

# 32). Write  code that takes two dictionaries as input and merges them into  single dictionary. If there are common keys the values should be added together.

In [ ]:
student_dict={'name':"Ram",'age':23,'address':"Pune",'mob':6754326783}
employee_dict={'empid':101,'email':"ram@gmail.com",'address':"Mumbai",'mob':7865436798}
#op={'name':"Ram",'age':23,'address':["Pune","Mumbai"],'mob':[6754326783,7865436798],'email':"ram@gmail.com"}
# take empty dict
merge_dict={}
# First, copy all items from student_dict to merge_dict
for key , value in student_dict.items():
    merge_dict[key]=value
# second add all items from emploemployee_dict to merge_dict
for k,v in employee_dict.items():
    # If the key is already in merge_dict, convert to a list if not already a list then add new key value paire
    if k in merge_dict:
        if not isinstance(merge_dict[k],list):
            merge_dict[k]=[merge_dict[k]]
        merge_dict[k].append(v)
    else:
        merge_dict[k]=v

In [ ]:
merge_dict

{'name': 'Ram',
 'age': 23,
 'address': ['Pune', 'Mumbai'],
 'mob': [6754326783, 7865436798],
 'empid': 101,
 'email': 'ram@gmail.com'}

In [ ]:
#take a two dictinares
def merge_dict():
    number=int(input("how many records do you want to enter:"))
    print("Enter the first dictionary data")
    first_dict={input("Enter thekey: "):input("Enter the value: ") for i in range(number)  }
    print("Enter the second dictionary data")
    second_dict={input("Enter thekey: "):input("Enter the value: ") for i in range(number)  }
    merge_data={}
    print(f" First dict :{first_dict} \n Second Dict:-  {second_dict}")
    for key,value in first_dict.items():
        merge_data[key]=value
    for k , v in second_dict.items():
        if k in merge_data:
            merge_data[k]=[merge_data[k]]
            merge_data[k].append(v)
        else:
            merge_data[k]=v
    return merge_data

In [ ]:
merge_dict()

how many records do you want to enter: 3

Enter the first dictionary data

Enter thekey:  name
Enter the value:  ram
Enter thekey:  age
Enter the value:  23
Enter thekey:  email
Enter the value:  abhi@gmail.com

Enter the second dictionary data

Enter thekey:  empid
Enter the value:  101
Enter thekey:  address
Enter the value:  pune
Enter thekey:  email
Enter the value:  abhi34@gmail.com

 First dict :{'name': 'ram', 'age': '23', 'email': 'abhi@gmail.com'}
 Second Dict:-  {'empid': '101', 'address': 'pune', 'email': 'abhi34@gmail.com'}

{'name': 'ram',
 'age': '23',
 'email': ['abhi@gmail.com', 'abhi34@gmail.com'],
 'empid': '101',
 'address': 'pune'}

# 33) Write a code to access  value in a nested dictionary. The function should take the dictionary and  list of keys as input and return the corresponding value If any of the keys do not exist in the dictionary the function should return None

In [ ]:
def nested_dict_value(d,list_key):
    """
    Access a value in a nested dictionary using a list of keys.

    :param d: The nested dictionary to access.
    :param list_key: A list of keys to navigate the nested dictionary.
    """
    # Start at the top level of the dictionary
    dict1=d
    #Iterate through each key in the list
    for key in list_key:
        if isinstance(dict1,dict)  and key in dict1:
            dict1=dict1[key] #Move to the next level of the dictionary
            print(dict1) # return value

        else:
            print(None) # If the key is not found





subjects= {
            'math': {'score': 85, 'teacher': 'Mr. Sharma'},
            'english': {'score': 90, 'teacher': 'Mrs. Verma'},
            'science': {'score': 95, 'teacher': 'Ms. Iyer'}
            }
#key_list = ['student2', 'address', 'score']
#nested_dict_value(student_data,key_list)

In [ ]:

key_list =[ 'science','score']
nested_dict_value(subjects,key_list)

{'score': 95, 'teacher': 'Ms. Iyer'}
95

In [ ]:
student_data = {
    'student1': {
        'name': 'Ravi Kumar',
        'age': 21,
        'address': {
            'street': 'MG Road',
            'city': 'Mumbai',
            'state': 'Maharashtra',
            'zip': '400001'
        },
        'subjects': {
            'math': {'score': 85, 'teacher': 'Mr. Sharma'},
            'english': {'score': 90, 'teacher': 'Mrs. Verma'},
            'science': {'score': 95, 'teacher': 'Ms. Iyer'}
        }
    },
    'student2': {
        'name': 'Sita Patel',
        'age': 22,
        'address': {
            'street': 'Brigade Road',
            'city': 'Bangalore',
            'state': 'Karnataka',
            'zip': '560001'
        },
        'subjects': {
            'math': {'score': 88, 'teacher': 'Mr. Nair'},
            'english': {'score': 92, 'teacher': 'Ms. Reddy'},
            'science': {'score': 89, 'teacher': 'Mr. Rao'}
        }
    },
    'student3': {
        'name': 'Anjali Singh',
        'age': 20,
        'address': {
            'street': 'Park Street',
            'city': 'Kolkata',
            'state': 'West Bengal',
            'zip': '700016'
        },
        'subjects': {
            'math': {'score': 90, 'teacher': 'Mr. Banerjee'},
            'english': {'score': 85, 'teacher': 'Mrs. Das'},
            'science': {'score': 93, 'teacher': 'Ms. Chatterjee'}
        }
    }
}

In [ ]:
key_list =[ 'address', 'science']
#nested_dict_value(student_data,key_list)
keys_list1 = ['student1','age']
nested_dict_value(student_data,keys_list1)

{'name': 'Ravi Kumar', 'age': 21, 'address': {'street': 'MG Road', 'city': 'Mumbai', 'state': 'Maharashtra', 'zip': '400001'}, 'subjects': {'math': {'score': 85, 'teacher': 'Mr. Sharma'}, 'english': {'score': 90, 'teacher': 'Mrs. Verma'}, 'science': {'score': 95, 'teacher': 'Ms. Iyer'}}}
21

In [ ]:
keys_list2 = ['student1','subjects','math']
nested_dict_value(student_data,keys_list2)

{'name': 'Ravi Kumar', 'age': 21, 'address': {'street': 'MG Road', 'city': 'Mumbai', 'state': 'Maharashtra', 'zip': '400001'}, 'subjects': {'math': {'score': 85, 'teacher': 'Mr. Sharma'}, 'english': {'score': 90, 'teacher': 'Mrs. Verma'}, 'science': {'score': 95, 'teacher': 'Ms. Iyer'}}}
{'math': {'score': 85, 'teacher': 'Mr. Sharma'}, 'english': {'score': 90, 'teacher': 'Mrs. Verma'}, 'science': {'score': 95, 'teacher': 'Ms. Iyer'}}
{'score': 85, 'teacher': 'Mr. Sharma'}

In [ ]:
keys_list3 = ['student3', 'subjects', 'science', 'teacher']
nested_dict_value(student_data,keys_list3)

{'name': 'Anjali Singh', 'age': 20, 'address': {'street': 'Park Street', 'city': 'Kolkata', 'state': 'West Bengal', 'zip': '700016'}, 'subjects': {'math': {'score': 90, 'teacher': 'Mr. Banerjee'}, 'english': {'score': 85, 'teacher': 'Mrs. Das'}, 'science': {'score': 93, 'teacher': 'Ms. Chatterjee'}}}
{'math': {'score': 90, 'teacher': 'Mr. Banerjee'}, 'english': {'score': 85, 'teacher': 'Mrs. Das'}, 'science': {'score': 93, 'teacher': 'Ms. Chatterjee'}}
{'score': 93, 'teacher': 'Ms. Chatterjee'}
Ms. Chatterjee

# 34) Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending orders

In [ ]:
# this function used sorted() function
def sorted_version(d):
    print("*"*50,"Sorting Option","*"*50)
    print("1.Ascending Sort\n 2.Descending Sort")
    ch=int(input("Enter your choice from above option: "))
    if ch==1:
        asc_sort=dict(sorted(d.items(),key=lambda item:item[1]))##sorts these items based on the value (item[1]).
        return f" sort by ascending {asc_sort}"
    elif ch==2:
        dsc_sort=dict(sorted(d.items(),key=lambda item:item[1],reverse=True))

        return f" sort by descending {dsc_sort}"
    else:
        return f" You have entered incorect option "

In [ ]:
d={'math':67,'science':89,'physics':64}
#sorts these items based on the value (item[1]).
sorted_version(d)

************************************************** Sorting Option **************************************************
1.Ascending Sort
 2.Descending Sort

Enter your choice from above option:  1

" sort by ascending {'physics': 64, 'math': 67, 'science': 89}"

In [ ]:
sorted_version(d)

************************************************** Sorting Option **************************************************
1.Ascending Sort
 2.Descending Sort

Enter your choice from above option:  2

" sort by descending {'science': 89, 'math': 67, 'physics': 64}"

In [ ]:
# sordig dict using list and sorting algoritham
def sorting_dict(d):
    l = list(d.items()) # list of tuple key value
    print(l)
    print("*"*50,"Sorting Option","*"*50)
    print("1.Ascending Sort\n 2.Descending Sort")
    ch=int(input("Enter your choice from above option: "))
    print(d)
    if ch==1:
         for i in range(len(l)):
             for j in range(i,len(l)):
                if l[i][1]>l[j][1]:
                    temp=l[i]
                    l[i]=l[j]
                    l[j]=temp
         return f" sort by ascending {dict(l)}"
    elif ch==2:
        for i in range(len(l)):
            for j in range(i,len(l)):
                if l[i][1]<l[j][1]:
                    temp=l[i]
                    l[i]=l[j]
                    l[j]=temp
        return f" sort by desc {dict(l)}"
    else:
        return "Invalid option"

In [ ]:
sorting_dict(calories_dict)

[('Apple', 95), ('Banana', 105), ('Cheeseburger', 303), ('Salad', 152), ('Orange', 62), ('Chicken Breast', 165), ('Ice Cream', 207), ('French Fries', 365)]
************************************************** Sorting Option **************************************************
1.Ascending Sort
 2.Descending Sort

Enter your choice from above option:  2

{'Apple': 95, 'Banana': 105, 'Cheeseburger': 303, 'Salad': 152, 'Orange': 62, 'Chicken Breast': 165, 'Ice Cream': 207, 'French Fries': 365}

" sort by desc {'French Fries': 365, 'Cheeseburger': 303, 'Ice Cream': 207, 'Chicken Breast': 165, 'Salad': 152, 'Banana': 105, 'Apple': 95, 'Orange': 62}"

In [ ]:
calories_dict = {
    'Apple': 95,
    'Banana': 105,
    'Cheeseburger': 303,
    'Salad': 152,
    'Orange': 62,
    'Chicken Breast': 165,
    'Ice Cream': 207,
    'French Fries': 365
}

sorting_dict(calories_dict)

[('Apple', 95), ('Banana', 105), ('Cheeseburger', 303), ('Salad', 152), ('Orange', 62), ('Chicken Breast', 165), ('Ice Cream', 207), ('French Fries', 365)]
************************************************** Sorting Option **************************************************
1.Ascending Sort
 2.Descending Sort

Enter your choice from above option:  1

{'Apple': 95, 'Banana': 105, 'Cheeseburger': 303, 'Salad': 152, 'Orange': 62, 'Chicken Breast': 165, 'Ice Cream': 207, 'French Fries': 365}

" sort by ascending {'Orange': 62, 'Apple': 95, 'Banana': 105, 'Salad': 152, 'Chicken Breast': 165, 'Ice Cream': 207, 'Cheeseburger': 303, 'French Fries': 365}"

.

# 35) Write a code that inverts a dictionary swpping kEYs and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the s+ame value by storing the keys as a list in the inverted dictionary.

In [ ]:

def swap_dict(d):
        dict2={} # take empty dict
        for k,v in d.items(): # iterate the dict1
            if v in dict2: # v is present in dict2
                if isinstance(dict2[v],list): # check  if the current value in dict2 is already a list.
                 dict2[v].append(k)  # append to this list
                else:
                    dict2[v]=[dict2[v],k] # is not present in list then create a list and add key as value
            else:
                dict2[v]=k
        return dict2

In [ ]:
calories_dict = {
    'Apple': 95,
    'Banana': 105,
    'Cheeseburger': 303,
    'Salad': 152,
    'Orange': 62,
    'Chicken Breast': 165,
    'Ice Cream': 207,
    'French Fries': 365,
    'Grapes':105,
    'Mango':95
}
swap_dict(calories_dict)

{95: ['Apple', 'Mango'],
 105: ['Banana', 'Grapes'],
 303: 'Cheeseburger',
 152: 'Salad',
 62: 'Orange',
 165: 'Chicken Breast',
 207: 'Ice Cream',
 365: 'French Fries'}